[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
scikit-learn = "*"
tensorflow = "*"
pillow = "*"
h5py = "*"
keras = "*"

[dev-packages]

[requires]
python_version = "3.10"
